<div class="teaching-material">
    <li class="teaching-course">
        {% if include.lecture.schedule.size > 1 %}
            <b>{{ include.lecture.title }}</b>, <em>{{ include.lecture.term }} {{ include.lecture.year }}</em>
            <ul class="teaching-schedule">
            {% assign sorted = include.lecture.schedule | sort: "week" %}
            {% for item in sorted %}
              <li>
                <a class="teaching-item" href="{{ item.slides | absolute_url }}" target="_blank" rel="noopener noreferrer">{{ item.topic }}</a>
              </li>
            {% endfor %}
            </ul>
        {% else %}
            <b><a class="teaching-item" href="{{ include.lecture.schedule[0].slides | absolute_url }}" target="_blank" rel="noopener noreferrer">{{ include.lecture.title }}</a></b>, <em>{{ include.lecture.term }} {{ include.lecture.year }}</em>
        {% endif %}
    </li>
</div>
