<div class="teaching-material">
    <h3>{{ include.lecture.title }} <small class="text-muted">{{ include.lecture.year }} - {{ include.lecture.term }}</small></h3>

    {% if include.lecture.schedule %}
        <ul class="teaching-schedule">
        {% assign sorted = include.lecture.schedule | sort: "week" %}
        {% for item in sorted %}
          <li>
            {{ item.week }}:
            <a class="teaching-item" href="{{ item.slides | absolute_url }}" target="_blank" rel="noopener noreferrer">{{ item.topic }}</a>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
